@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  body {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(254, 163, 1, 0.5));
    background-repeat: no-repeat;
    margin: 0;
  }
  /* navbar styles */
  nav{
    max-width: 1200px;
    margin: 0 auto;

  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;    
}
.brand {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}
.enroll-feature{
  margin-right: 300px;
}
.menu{
  display: none;
  font-size: 25px;
  cursor: pointer;
}
/* shared styles */
.display-flex{
  display: flex;
}
/* orange color */
.text-home{
  color: orange;
}
/* sky blue color */
.text-about{
  color: skyblue;
}
/* Facilities color */
.text-facilities{
  color: #05D4DF;
}
/* Admission color */
.text-admission{
  color: #5D58EF;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item {
  margin: 0 10px;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
/* contact button */
.contact-btn {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.contact-btn:hover{
  background-color: #058fdf;
}
/* Enroll Section Styles */
.enrollment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px; 
  padding: 50px;
  background-color: #f9f9f9;
}
.enrollment-feature {
  max-width: 1200px;
}
.enrollment-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.3;
  color: #333;
  max-width: 1200px;
}
.enpowering {
  font-size: 2.5rem;
  font-weight: 900;
}
.text-orange {
  color: #FEA301;
}
.text-skyblue {
  color: #05D4DF;
}
.title-description {
  font-size: 1rem;
  color: #555;
  margin: 20px 0;
}
.btn-primary {
  background-color: black;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #058bdf;
}

/* boxcolor */

.linerboxcolor1 {
  background: linear-gradient(to bottom, #C8E9FF 3%, #E0F7FF 20%, #F8FDFF 50%);
}

.linerboxcolor2 {
  background: linear-gradient(to bottom, #FFEDC2 0%, #FFF8E1 30%, #FFFFFF 50%);
}
.linerboxcolor3 {
  background: linear-gradient(to bottom, #E9D5FF 5%, #F6EDFF 25%, #FFFFFF 45%);
}

.readmore-btn-1 a{
  text-decoration: none;
  color:  #64C8FF;
}
.readmore-btn-2 a{
  text-decoration: none;
  color: #F0AA00;
  
}

.readmore-btn-3 a{
  text-decoration: none;
  color: #8700FF;
}
main{
  max-width: 1200px;
  margin: 0 auto;
}

/* curriculum section style */
.curriculum{
  max-width: 1200px;
  margin: 0 auto;
}
.curriculum{
  background-image: url('../assets/bg.png');
}

.curriculum-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 24px;
}
.upper-curriculum-title{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.curriculum-title{
  text-align: center;
}
.curriculum-card{
  width: 368px;
  height: 477px;
  border-radius: 19px;
  text-align: center;
  align-items: center;
  justify-content: center;  
  box-shadow: 0px 0px 1px ;
  display: flex;
  padding: 10px;
}

/* arrow button style */
.arrow-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 15px; 
}

.arrow-button {
  background-color: orange; 
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow-button i {
  color: white; 
  font-size: 18px;
}
.arrow-button:hover {
  background-color: darkorange; 
  transform: scale(1.1); 
}
.left-arrow {
  transform: rotate(0deg); 
}
.right-arrow {
  transform: rotate(0deg); 
}
.our-stories {
  background-image: url('../assets/bg.png');
}
.stories-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  color: #333;
}

/* stories Grid Container */
.stories-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr; 
  grid-template-rows: repeat(2, auto); 
  gap: 20px;
}

/* Large Card Style */
.large-card {
  grid-column: span 1;
  grid-row: span 2; 
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.large-card img {
  width: 100%;
  height: auto;
  display: block;
}
.large-card .text-content {
  padding: 20px;
  text-align: left;
}
.large-card .story-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}
.large-card .story-description {
  font-size: 0.9rem;
  color: #666;
  margin-top: 10px;
}

/* Small Card Style*/
.small-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.small-card img {
  width: 100%;
  height: auto;
  display: block;
}

.small-card .text-content {
  padding: 15px;
  text-align: left;
}

.small-card .story-title {
  font-size: 1rem;
  font-weight: bold;
  color: #444;
  margin: 10px 0;
}

/* Button Style */
button {
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-1 {
  background: #3CD8E8;
  color: white;
}
#date-label{
  position: relative;
  padding: 10px 10px;
  left: 10px;
  top: -35px;
  border-radius: 16px;
  font-size: 0.8rem;
  font-weight: 600;

}
.btn-2 {
  background:#95B226;
  color: white;
}
.btn-3 {
  background: #5D58F0;
  color: white;
}

.btn-4 {
  background: #95B226;
  color: white;
}

.btn-5 {
  background: #95B226;
  color: white;
}

.view-all-btn {
  background-color: #000; 
  color: #fff; 
  border: none;
  padding: 12px 24px; 
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px; 
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.view-all-btn:hover {
  background-color:#06cfda; 
}
.view-all-container {
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 30px;
}
/* Footer Style */
.footer {
  background-color: #00a1ff; 
  color: #fff; 
  padding: 30px 20px;
  text-align: left;
  
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-logo h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.footer-logo img {
  width: 80px; 
  height: 82px;
  margin-right: 10px;
}
.footer-logo p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #e8f5ff;
}

.footer-about h4,
.footer-social h4 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff;
}

.footer-about ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}

.footer-about ul li {
  margin: 20px 0;
}

.footer-about ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.footer-social .social-icons {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.footer-social .social-icons a img {
  width: 35px; 
  height: 35px;
  border-radius: 50%; 
  transition: transform 0.3s;
}

.footer-social .social-icons a img:hover {
  transform: scale(1.3); 
}


/* Media responsive for mobile view*/
@media screen and (max-width:576px){
  .enrollment{
      flex-direction: column-reverse; 
      justify-content: space-between;
      gap: 0px;
    }
    .enrollment-feature{
      text-align: center;
    }

  .curriculum-container{
      grid-template-columns: 1fr;

  }
  .curriculum-container{
      justify-items: center;
  }
  .arrow-buttons{
      display: none;
  }

  .stories-container {
      grid-template-columns: repeat(2, 2fr); 
      grid-template-rows: auto; 
      gap: 15px; 
  }

  .large-card {
      grid-column: span 1; 
      grid-row: auto; 
      display: none;
  }

  .small-card {
      grid-column: span 1; 
  }

  .stories-title {
      font-size: 1.8rem; 
  }

  button {
      font-size: 0.7rem; 
      padding: 6px 12px; 
  }

  .large-card img,
  .small-card img {
      height: auto; 
  }

  .large-card .text-content,
  .small-card .text-content {
      padding: 10px; 
  }
  .view-all-btn {
      font-size: 0.9rem; 
      padding: 10px 20px;
  }
  .footer-container {
      flex-direction: column;
      align-items: flex-start; 
      text-align: left; 
  }

  .footer-logo,
  .footer-links,
  .footer-social {
      margin-bottom: 20px;
      width: 100%;
  }

  .footer-logo h3 {
      font-size: 1.5rem;
  }

  .footer-social .social-icons img {
      width: 30px;
      height: 30px;
  }
  .nav-links, 
  .contact-btn,.brand-text {
      display: none; 
  }

  .menu {
      display: block; 
  }

  .brand {
      margin-left: 10px; 
  }

  .navbar {
      border: 1px solid orange;
      justify-content: space-between;
      align-items: center; 
  }
}
